<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Update Menu</title>
	</head>
	<body>
		<h2>Update Menu</h2>
		<-- create a form to upload required fields -->
		<form method="POST">
			<label for="hotel_name">Hotel Name:</label>
			<input type="text" id="hotel_name" name="hotel_name" value="{{ hotel_name }}">

			<label for="main_dish">Main Dish:</label>
			<input type="text" id="main_dish" name="main_dish" value="{{ main_dish }}">

			<label for="description">Description:</label>
			<textarea id="description" name="description">{{ description }}</textarea>

			<label for="image_url">Image URL:</label>
			<input type="text" id="image_url" name="image_url" value="{{ image_url }}">

			<label for="price">Price:</label>
			<input type="number" id="price" name="price" value="{{ price }}">

			<h4>Sides</h4>
			{% for side_dish in side_dishes %}
			<div>
				<label for="side_food{{ loop.index0 }}">Food {{ loop.index }}:</label>
				<input type="text" id="side_food{{ loop.index0 }}" name="side_food{{ loop.index0 }}" value="{{ side_dish.food }}">

				<label for="side_price{{ loop.index0 }}">Price:</label>
				<input type="number" id="side_price{{ loop.index0 }}" name="side_price{{ loop.index0 }}" value="{{ side_dish.price }}">
			</div>
			{% endfor %}

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" value="{{ email }}">

			<input type="submit" value="Update Menu">
		</form>
	</body>
</html>
