<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Catering Menu Template</title>
	<link rel="stylesheet" type="text/css" href="/static/css/menu_templates/catering.css">

</head>
<body>
	<div id="template-container" contenteditable="true">
		<div class="menu-container">
			<header>
				<h1 contenteditable="true">Welcome to catering</h1>
			</header>
			<section class="menu">
				<div class="menu-section" contenteditable="true">
					<h2 contenteditable="true">Breakfast</h2>
					<ul style="font-weight: bold;">
						<li>vanilla milk shake <span>$4.00</span></li>
						<li>ugali served with sukuma <span>$3.99</span></li>
						<li>rice beans <span>$3.50</span></li>
						<li>Chapo mandondo <span>$5.00</span></li>
						<li>fish fillets <span>$8.00</span></li>
					</ul>
				</div>
				<div class="menu-section" contenteditable="true">
					<h2 contenteditable="true">Drinks</h2>
					<ul style="font-weight: bold;">
						<li>fresh milk <span>$4.00</span></li>
						<li>chill soda <span>$3.99</span></li>
						<li>bottled water <span>$3.50</span></li>
						<li>drink 4 <span>$5.00</span></li>
					</ul>
				</div>
				<div class="menu-section" contenteditable="true">
					<h2 contenteditable="true">Lunch and Supper</h2>
					<ul style="font-weight: bold;">
						<li>menu 1 <span>$4.00</span></li>
						<li>menu 2 <span>$3.99</span></li>
						<li>menu 3 <span>$3.50</span></li>
						<li>menu 4 <span>$5.00</span></li>
					</ul>
				</div>
				<div class="menu-section" contenteditable="true">
					<h2 contenteditable="true">Dessert Menu</h2>
					<ul style="font-weight: bold;">
						<li>vanilla toppings <span>$4.00</span></li>
						<li>chocolate icecream <span>$3.99</span></li>
						<li>fresh salad <span>$3.50</span></li>
					</ul>
				</div>
			</section>
			<footer contenteditable="true">
				<p>[For orders kindly contact us on:]</p>
			</footer>
		</div>
	</div>
	<div>
		<button id="saveButton">Download</button>
		<button id="deleteButton">Back</button>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
	<script>
        document.getElementById('saveButton').addEventListener('click', function () {
            const element = document.getElementById('template-container');

            // Configure html2pdf options
            const options = {
                margin: 0, // Set margin to 0 to avoid extra white space
                filename: 'customized_menu.pdf',
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { 
                    scale: 2,
					useCORS: true,
                    backgroundColor: null  // Ensure the background is the same as the web page (no white background added)
                },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
            };

            // Generate the PDF
            html2pdf().from(element).set(options).save();
        });
    </script>
</body>
</html>