body {
	font-family: Helvetica, Times New Roman;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

#template {
	width: 210mm;
	max-width: 100%;
	box-sizing: border-box;
}

.menu {
	max-width: 800px;
	width: 100%;
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 50px auto;
	padding: 20px;
	background: url('/static/background/delicious-neapolitan-pizza-board.jpg') no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
}

.menu h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 2em;
}

.menu ul {
	padding: 10px;
}

.menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item:hover {
	background-color: #e9e9e9;
}

.menu h2 {
	font-size: 1.5em;
	text-align: center;
	color: #FFFFFF;
}

.drink-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-name {
	font-weight: bold;
}

.item-price {
	font-size: 1.3em;
	color: #666;
}

#saveButton {
	position: fixed;
	bottom: 90px;
	right: 20px;
	padding: 10px 15px;
	color: white;
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
	z-index: 1000;
}

#sendToServer {
	position: fixed;
	bottom: 50px;
	right: 20px;
	padding: 10px 15px;
	color: white;
	border: none;
	cursor: pointer;
	background-color: #4CAF50;
	z-index: 1000;
}

#deleteButton {
	position: fixed;
	bottom: 10px;
	right: 20px;
	padding: 10px 15px;
	color: white;
	border: none;
	cursor: pointer;
	background-color: #FF0000;
	z-index: 1000;
}
