html body {
	font-family: 'Arial', sans-serif;
    font-weight: 120px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	min-height: 100vh;
}

#template-container {
	max-width: 700px;
	width: 100%;
	min-height: 100vh;
	background: url('/static/images/Untitled\ design.png') no-repeat center center;
	background-size: cover;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-container {
	display: block;	
}

header {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

header h1 {
	font-size: 3em;
	color: #8B4513;
	margin: 0;
	border-bottom: 2px solid #8B4513;
	padding-bottom: 10px;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-section {
	width: 48%;
	margin-bottom: 20px;
}

.menu-section h2 {
	font-size: 2em;
	color: #8B4513;
	border-bottom: 2px solid #8B4513;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.menu-section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-section ul li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 1.2em;
    font-weight: 70px;
	color: black;
}

footer {
	text-align: center;
	font-size: 1.1em;
	color: black;
	border-top: 1px solid #8B4513;
	padding-top: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.fixed-button{
	position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s; 
}
#saveButton {
	background: linear-gradient(135deg, #78d878, #4ae23c);
    bottom: 80px;
}


#deleteButton {
	background: linear-gradient(135deg, #ee8f50, #e4370c);
    bottom: 20px;
}